.clear{clear:both;}
.hide{display: none;}
.show{display: block;}
 
.candidate{
	float: left;
	width: 75px;
	margin-right: 20px;
}

.bar{
	width: 300px;	
	text-align: center;	
	float: left;
	display: inline-block;
}

.graph {	
	background: green;	
	color: #fff;	
	text-indent: -1000px;
}

#error {
    background-color: #8D2F27;
    border: 1px solid #000000;
    color: #F4F0E6;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    text-shadow: 0 -1px 0 #000000;
} 

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li{
    margin-bottom: 20px;
}
 
