a.adminlink:link, a.adminlink:active, a.adminlink:visited{color: #F5BF3D !important;}
a.adminlink:hover{color: #FFD159 !important;}
ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
li{margin-bottom: 20px;}
table{
    width:100%;
    border-collapse: collapse;
}
th{
    background: #233437;
    padding: 10px 5px;
    text-align: left;
}
tr.even{background: #6D1A27;}
td{padding: 6px 10px;}
.clear{clear:both;}
.hide{display: none;}
.show{display: block;} 
 #error {
    background: #233437;    
    color: #F4F0E6;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    text-shadow: 0 -1px 0 #000000;
} 
#welcome {       
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 20px;    
} 
.candidate{
    float: left;
    width: 75px;
    margin-right: 20px;
}
.candidateCount{
    display: inline-block;
    width: 125px;
}
.bar{
    width: 300px;
    display: inline-block;
}
.graph {	
    background: #25373A;	
    color: #fff;
    padding:10px 0;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-top: 2px #306871 solid;
    border-bottom:2px #306871 solid;
}
.graph-percent{
    margin: 0 0 0 8px;
}
.character-votes {
    font-size:30px;
}

